* {
  box-sizing: border-box;
}

body {
  background: ghostwhite;
}

main {
  padding: 5vw;
}

.container, section#gallery-section ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1em;
  list-style:none;
}

img {
  width: 100%;
  align-self: center;
}

section#gallery-section ul li img {
  border-radius: 8px;
  box-shadow: 0 8px 32px -8px rgba(128, 128, 128, 0.5);
}
