* {
    font-family: 'Rubik', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: all .2s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* .nav-main {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #1c1d1e;
}

.nav-div1 {
    display: flex;
    align-items: center;
}

.nombre {
    margin: 0;
}
.nav-div2 {
    margin: 5px 20px 0px 0px;
    display: flex;
}

.nav-div3 {
    display: flex;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

.nav-link {
    text-decoration: none;
    margin-left: 10px;
    padding: 0px 5px;
    border-left: 1px solid #5b5b5b;
    border-right: 1px solid #5b5b5b;
    background: transparent;
    background-color: #1c1d1e;
    color: #fff;
    text-transform: uppercase;
} */

nav {
    margin: auto;
    background-color: #333;
    font-size: 20px;
}

.menu-h {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-h > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-h > li:hover {
    background-color: red;
}

.menu-v {
    position: absolute;
    display: none;
    list-style: none;
    width: 180px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-v {
    padding-left: 0;
}

.menu-h li:hover .menu-v {
    display: block;
}

.menu-v li:hover {
    background-color: black;
}

.menu-v li a {
    display: inline-table;
    color: white;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

.slide {
    width: 100vw;
    margin-top: 0;
    margin-bottom: 10px;
}

.slide img {
    height: 80vh;
}

.titulo {
    display: flex;
    justify-content: center;
    color: rgb(62, 143, 12);
    /* text-transform: uppercase; */
    font-weight: bold;
    text-shadow: #000 1px 1px 1px;
}

.text-home {
    position: relative;
    margin: 0 20rem;
}